In [ ]:
# Answer of Q1 :

In [ ]:
Database :
    Database basically means collection of information, data.
Database is basically two types :
    1. SQL (Structured Query Language)
    2. NoSQL (Not only Structured Query Language)

In [ ]:
Difference :
    1. SQL databases are table-based, well structered, while NoSQL databases are not structured.
    2. SQL example is Excel sheet while example of NoSQL is music, movie, audio file, image, python file etc.
    3. SQL is not very useful for big data handling, but NoSQL is useful for big data handling.

In [ ]:
# Answer of Q2 :

In [ ]:
DDL :
    DDL means Data Definition Language.
    It is a subset of SQL. 
    It is a language for describing data and its relationships in a database.

In [ ]:
Create :
    'Create' command is used to create a new database, table.
    Best use for Create command is creating a table. 
    Code : CREATE TABLE [table name] ([column name] [parameter])
    
Drop :
    'Drop' command is used for destroying an existing database, table.
    Code : DROP objectpe objectname
    
Alter :
    'Alter' command modifies an existing database object.
    Code : ALTER objecttype objectname parameters
    
Trancate :
    'Trancate' is used to delete all data from a table.
    Code : TRUNCATE TABLE table_name

In [ ]:
# Answer of Q3 :

In [ ]:
DML :
    It means Data Manipulation Language.
    It is a computer programming language used for adding (inserting), deleting, and modifying (updating) data in a database.

In [ ]:
Insert :
    'Insert' command used for adding data to a table.
    Code : insert into [table name] [values]
    
Update :
   'Update' modifies data from database.
    Code : UPDATE [table name] [value] [condition]

Delete :
    This command removes one or more records from a table according to specified conditions. 
    Code : DELETE FROM [table name] [condition].

In [ ]:
# Answer of Q4 :

In [ ]:
DQL :
    It means Data Query Language.
    It is used for performing queries on the data.

In [ ]:
SELECT :
    'select' statement use for retrieves the particular column form database.

In [ ]:
# Answer of Q5 :

In [ ]:
A primary key generally focuses on the uniqueness of the table. 
It assures the value in the specific column is unique. 
A foreign key is generally used to build a relationship between the two tables. 
The table allows only one primary key.

Example :
    In a department, every student having their unique ID, that is Primary key.
    But there are lot of department in a college and their student_ID, that is foreign key.

In [ ]:
# Answer of Q6 :

In [ ]:
Python code to connect MySQL to python :

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
     host = 'localhost',
     user = 'abc',
     password = 'password'
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("STATEMENT")

for x in mycursor :
    print(x)

In [ ]:
Cursor method is used to execute the query and fetch all data from databse.
Execute method is used to execute the code.

In [ ]:
# Answer of Q7 :

In [ ]:
FROM: The FROM clause are executed first to determine the data of interest.

JOIN: If there are any JOIN clauses, they are processed next to combine data from multiple tables based on the specified join conditions.

WHERE: The WHERE clause is used to filter the rows based on specific conditions.

GROUP BY: The GROUP BY clause is used to group the data based on values in one or more columns.

HAVING: The HAVING clause is executed to remove the created grouped data that donâ€™t meet the constraints.

SELECT: The SELECT clause is used to specify the columns to be retrieved from the database.

DISTINCT: If the DISTINCT keyword is used, it removes duplicate rows from the database.

ORDER BY: The ORDER BY clause is used to sort the data based on one or more columns. 

LIMIT/OFFSET: Finally, the LIMIT and/or OFFSET clauses are executed to keep or skip a specified number of rows.